<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Available Spaces</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>

<h1>Available Spaces</h1>

<div class="spaces-grid">

    <div class="space-card" th:each="space : ${spaces}">

        <h3 th:text="${space.name}">Space name</h3>

        <p th:text="'£' + ${space.price} + ' per night'"></p>

        <p th:text="${space.description}"></p>

    </div>

</div>


<a class="primary-btn" href="/">Go to homepage</a>

</body>

</html>